<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.reports.ListenerTestNG"></listener>
    </listeners>
    <test  name="IteraQA_Automated">
        <classes>
        <class name="testcases.SignupTest">
            <methods>
                <include name="tc_signup"/>
            </methods>
        </class>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="tc_login"/>
                </methods>
            </class>
            <class name="testcases.AddCustomerTest">
                <methods>
                    <include name="tc_addCustomer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>